# Object files
*.o

# Executables
*.out
*.hex

# Crunched files
*.b2
*.exo
*.puc

# iffl files
*.iff
*.iffl

# Intermediate IFFL files
data_*_linked
iffl_*.prg
iffldata_*

# IDE files
.vscode
*_data_*_linked
